.App {
  text-align: center;
}

.App-header {
  background-color: #1386fc;
  font-size: 1em;
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 10px #ccc;

  h1 {
    margin: 0;
  }
}

.App-link {
  color: #61dafb;
}

.Main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 57px);

  #left-panel {
    flex-basis: 65%;
    padding: 30px;
    border-right: 1px solid #1386fc;
  }

  #right-panel {
    flex-grow: 1;
  }
}
